header{
background-image:url('aboutmeheader.jpeg');
color:White;
font-family:"Fredericka the Great",Garamond, "Courier New";
font-size: 50px;
padding : 15px 25px 100px 25px;
background-repeat:no-repeat;
background-position:center;
background-size: cover;
position:relative;
background-color:Black;
}
.center{
background-color:#f0ede4;
background-image:url('mainpagebg.jpg');
background-repeat:no-repeat;
background-position:center;
background-size: cover;
position:relative;
}
.fline{
font-family:'Comic Sans MS','Courier New','Helvetica',Garamond;
font-size:35px;
color:White;
}
.sub{
text-align:center;
position:relative;
}
html{
scroll-behavior:smooth;
}
footer{
font-size: 40px;
background-color:#383131;
color:White;
background-image:url('footerbg.jpg');
background-repeat:no-repeat;
background-position:center;
background-size: cover;
position:relative;

padding: 60px 10px 60px 10px;
}
img{
border-radius:50%;
}
.topimg{
padding:1% 2% 1% 2%;
}
.centerimg{
padding:1% 10% 1% 10%;
}