body{
background-color:DarkGrey;
font-size: 30px;
color:White;
background-image:url('projectsbg.jpg');
background-repeat:no-repeat;
background-position:center;
background-size: cover;
position:relative;
padding:8% 12.5% 10% 12%;
font-family:'Luxurious Roman',Garamond, "Courier New";
}
.maintext{
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.7);
color: #f1f1f1;
padding: 15px 10px 15px 10px;
}